@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: burlywood;
}

.wrapper {
    width: 420px;
    background: brown;
    color: #ffff;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
}

.wrapper p {
    text-align: center;
    margin-top: 20px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 20px 105px;
}

.input-box input {
    width: 55%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    align-items: center;
    padding: 10px 22px 10px 10px;
}

.input-box input::placeholder {
    color: #ffffff88;
}

.input-box i {
    font-size: 24px;
}

.wrapper button {
    width: 100%;
    height: 45px;
}